.LessonCard {
    background: white;
    color: rgb(188, 22, 22);
    padding: 0px 20px;
    box-shadow: #aba7cc 0px 6px 20px 0px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 6px;
  }

  