.LessonCard {
  background: white;
  color: #36f;
  padding: 0px 20px;
  box-shadow: #aba7cc 0px 6px 20px 0px;
  width: 45%;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 20px 5px;
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.LessonCard-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}

.LessonCard-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
  margin-left: 3px;
}

.LessonCard-wrapInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.LessonCard p {
  color: #464555;
  padding: 1px 1px;
  font-size: 11px;
}

.LessonCard h6 {
  color: #3366ff;
  padding: 5px 5px;
  font-size: 11px;
}

.LessonCard button {
  display: block;
  background-color: #3366ff;
  border-radius: 999px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 18px;
  user-select: none;
  border: 0;
  margin: 0;
  text-decoration: none !important;
  transition: all 0.2s;
}

.LessonCard button:hover {
  display: block;
  background-color: white;
  border-radius: 999px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  color: #3366ff;
  cursor: pointer;
  font-size: 13px;
  opacity: 1;
  padding: 5px 18px;
  user-select: none;
  text-decoration: none !important;
}
