/* --------------------- rombo images --------------------- */
.rombo {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rombo-wrap {
  filter: drop-shadow(0px 6px 20px #aba7cc);
}

/* --------------------- home info --------------------- */
.container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container-home h3 {
  color: #3366ff;
  font-size: 25px;
  margin-left: 20px;
  text-align: left;
}

.container-home p {
  color: #464555;
  font-size: 12px;
  margin-left: 20px;
  text-align: left;
}

/* --------------------- profile image --------------------- */

.circular-portrait {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  min-width: 10px;
  max-width: 100px;
  min-height: 10px;
  max-height: 100px;
  margin: auto;
  border: 2px solid #3366ff;
}

.circular-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------- profile content --------------------- */
.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.profile-side {
  border-radius: 6px;
  box-shadow: #aba7cc 0px 6px 20px 0px;
  /* margin-bottom: 15px;
  margin-top: 20px; */
  padding: 15px 5px 15px 5px;
  width: 35%;
}

.profile h1 {
  color: #3366ff;
  margin-top: 5px;
}

.profile p {
  color: #464555;
  font-size: 13px;
  padding: 0px 6px 0px 6px;
}

/* --------------------- links profile --------------------- */
.link {
  color: #68f3d0;
  text-decoration: none;
  font-size: 13px;
}

.link:hover {
  color: #3366ff;
  text-decoration: none;
}

.tiny {
  font-size: 10px;
}

.separator {
  color: #68f3d0;
  padding: 0px 5px;
  font-weight: 100;
}

/* --------------------- img and text icon --------------------- */
.icon {
  width: 10%;
}

.addNewLesson {
  color: #3366ff !important;
  font-size: 10px !important;
}

.newLessonContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding-top: 20px;
}

/* --------------------- profile outlet --------------------- */
.profileOutlet {
  width: 65%;
  margin-left: 20px;
  /* padding-top: 15px; */
}

/* --------------------- Lesson List profile --------------------- */
.LessonListPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

/* --------------------- lesson details button --------------------- */

.LessonDetails button {
  display: inline-block;
  background-color: #3366ff;
  border-radius: 999px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  opacity: 1;
  padding: 5px 20px;
  user-select: none;
  border: 0;
  margin: 20px 10px 5px 10px;
  text-decoration: none !important;
  transition: all 0.2s;
}

.LessonDetails button:hover {
  background-color: white;
  color: #3366ff;
}

.LessonDetails-space {
  margin-top: 30px;
  margin-bottom: 30px;
}

.LessonDetails-wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
}

.LessonDetails-wrap-row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.LessonDetails-details {
  border: 2px solid #bdcaff;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 2px;
  margin-bottom: 30px;
}

.LessonDetails h5 {
  color: #68f3d0;
  font-size: 14px;
  padding-right: 5px;
}

.LessonDetails p {
  color: #464555;
  font-size: 14px;
}

.LessonDetails h1 {
  color: #3366ff;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.LessonDetails img {
  width: 100%;
  height: 130px;
  border-radius: 6px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  object-fit: cover;
}
