body {
  margin: 0;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.SignupPage,
.LoginPage {
  background: white;
  box-shadow: #aba7cc 0px 6px 20px 0px;
  width: 50%;
  margin-top: 20px;
  padding: 15px 5px;
  border-radius: 6px;
  margin: auto;
}

.EditLessonPage,
.EditProfile,
.AddLesson,
.AddTask,
.SendMail {
  background: white;
  box-shadow: #aba7cc 0px 6px 20px 0px;
  width: 100%;
  border-radius: 6px;
  padding: 20px 10px;
}

.EditLessonPage {
  background-color: rgb(239, 196, 88);
}

.EditLessonPage form,
.EditProfile form,
.AddTask form,
.AddLesson form,
.SignupPage form,
.LoginPage form,
.SendMail form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.EditLessonPage button,
.EditProfile button,
.AddLesson button,
.SendMail button {
  display: block;
  background-color: #3366ff;
  border-radius: 999px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 18px;
  user-select: none;
  border: 0;
  margin-top: 20px;
  text-decoration: none !important;
  transition: all 0.2s;
}

.SignupPage button,
.LoginPage button {
  display: block;
  background-color: #3366ff;
  border-radius: 999px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 18px;
  user-select: none;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none !important;
  transition: all 0.2s;
}

.AddTask button:hover,
.EditLessonPage button:hover,
.EditProfile button:hover,
.SignupPage button:hover,
.LoginPage button:hover,
.AddLesson button:hover,
.SendMail button:hover {
  display: block;
  background-color: white;
  border-radius: 999px;
  box-shadow: #aba7cc 0 10px 20px -2px;
  color: #3366ff;
  cursor: pointer;
  font-size: 13px;
  opacity: 1;
  padding: 5px 18px;
  user-select: none;
  margin-top: 20px;
  text-decoration: none !important;
}

.EditLessonPage label,
.EditProfile label,
.AddTask label,
.AddLesson label,
.SignupPage label,
.LoginPage label,
.SendMail label {
  color: #3366ff;
  font-size: 15px;
  padding: 15px 15px 5px 15px;
}

.EditLessonPage input,
.EditProfile input,
.AddTask input,
.AddLesson input,
.SignupPage input,
.LoginPage input,
.SendMail input {
  border: 1px solid #3366ff;
  background-color: white;
  font-size: 11px;
  width: 90%;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 60px;
  color: #464555;
  /* font-weight: 100; */
}

.EditLessonPage input:focus,
.EditProfile input:focus,
.AddTask input:focus,
.AddLesson input:focus,
.SignupPage input:focus,
.LoginPage input:focus,
.SendMail input:focus {
  outline: 2px solid #68fbd0;
  border-color: #68fbd0;
}

#input-file-bt::-webkit-file-upload-button {
  background-color: #464555;
  border-radius: 999px;
  color: #68fbd0;
  cursor: pointer;
  font-size: 13px;
  padding: 3px 10px;
  user-select: none;
  border: 1px solid #68fbd0;
}

/* .msl {
  overflow: hidden;
  border: 1px solid #3366ff;
  border-radius: 50px;
  outline: none;
  cursor: text;
  transition: border-radius 0.2s;
} */

.LoginPage p,
.SignupPage p {
  color: #464555;
  font-size: 13px;
  margin-bottom: 0px !important;
}

.linkLogin {
  color: #68fbd0;
  font-size: 13px;
  text-decoration: none;
  margin-top: -5px;
}

.linkLogin:hover {
  color: #3366ff;
  text-decoration: none;
}

.LoginPage h1,
.SignupPage h1 {
  color: #464555;
  font-size: 40px;
}

.TaskCard {
  background-color: #dfeef9;
}

.SendMail {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  border: 1px solid #3366ff;
  border-radius: 6px;
}

.SendMail[contenteditable]:empty::before {
  content: "Write anything to your students...";
  color: #68fbd0;
}
